.dc{
	width:44px;
	height:44px;
	background-image:url(../images/awards/dc.png);
	background-repeat:no-repeat;
	background-position: 0px 0px;
	cursor:pointer;
}

.sm{
	width:44px;
	height:44px;
	background-image:url(../images/awards/sm.png);
	background-repeat:no-repeat;
	background-position: 0px 0px;
	cursor:pointer;
}


.tuts{
	width:44px;
	height:44px;
	background-image:url(../images/awards/tuts.png);
	background-repeat:no-repeat;
	background-position: 0px 0px;
	cursor:pointer;
}

.wbdl{
	width:44px;
	height:44px;
	background-image:url(../images/awards/wbdl.png);
	background-repeat:no-repeat;
	background-position: 0px 0px;
	cursor:pointer;
}

.cssmania{
	width:44px;
	height:44px;
	background-image:url(../images/awards/cssmania.png);
	background-repeat:no-repeat;
	background-position: 0px 0px;
	cursor:pointer;
}

.bestdesigns{
	width:44px;
	height:44px;
	background-image:url(../images/awards/bestdesigns.png);
	background-repeat:no-repeat;
	background-position: 0px 0px;
	cursor:pointer;
}

.most_inspired{
	width:44px;
	height:44px;
	background-image:url(../images/awards/most_inspired.png);
	background-repeat:no-repeat;
	background-position: 0px 0px;
	cursor:pointer;
}


.stud_startup{
	width:44px;
	height:44px;
	background-image:url(../images/awards/student_startup.png);
	background-repeat:no-repeat;
	background-position: 0px 0px;
	cursor:pointer;
}

.mickm{
	width:44px;
	height:44px;
	background-image:url(../images/awards/mickm.png);
	background-repeat:no-repeat;
	background-position: 0px 0px;
	cursor:pointer;
}

.rhcp{
	width:44px;
	height:44px;
	background-image:url(../images/awards/rhcp.png);
	background-repeat:no-repeat;
	background-position: 0px 0px;
	cursor:pointer;
}
